${ header() }

<div id="homelink" class="container"><a href="/">zurück zur Startseite</a></div>

<div id=main role="main" class="container">

<div></div>
<section>
    <h1>$title$</h1>
$content$
    <style>
        #main #goog-fixurl h3 {display:none;}
        #main #goog-fixurl ul {padding:0;}
        #main #goog-fixurl li:before {content:"";}
    </style>
    <script>
        var GOOG_FIXURL_LANG = 'de';
        var GOOG_FIXURL_SITE = location.host;
    </script>
    <script src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</section>

</div> <!-- end role=main -->

${ footer() }
