${ header() }

<div id="homelink" class="container"><a href="/">zurück zur Startseite</a></div>

<div id=main role="main" class="container">


<nav id="local-nav"><div>
  <ul>
$for(sections)$
    <li><a href="#$it.slug$">$it.title$</a></li>
$endfor$
    <li><a href="#top">nach oben</a></li>
  </ul>
</div></nav>


$for(sections)$
$if(it.image)$

<div class="image"><img src="/img/$it.image$" /></div>
$endif$

$if(it.contact)$
<section id="$it.slug$" class="narrow" itemscope itemtype="http://schema.org/Organization">
<h1>$it.title$</h1>
<div class="narrow-item">
<div class="narrow-title"><h2>per Post</h2></div>
<div itemprop="name">$it.name$</div>
<div itemprop="description">
$for(it.description)$
<div>$it.description$</div>
$endfor$
</div>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<div itemprop="streetAddress">$it.street$</div>
<div><span itemprop="addressCountry">CH</span>-<span itemprop="postalCode">$it.zipcode$</span> <span itemprop="addressLocality">$it.town$</span></div>
</div>
</div>
<div class="narrow-item">
<div class="narrow-title"><h2>per Telefon</h2></div>
<div itemprop="telephone">$it.landline$</div>
</div>
<div class="narrow-item" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
<div class="narrow-title"><h2>per <span itemprop="contactType">Mobiltelefon</span></h2></div>
<div itemprop="telephone">$it.mobile$</div>
</div>
<div class="narrow-item">
<div class="narrow-title"><h2>per E-Mail</h2></div>
<div><script type='text/javascript'>var a = new Array('k.ch','info@erne','stine-zin');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+"' itemprop='email'>"+a[1]+a[2]+a[0]+"</a>");</script></div>
</div>
</section>
$else$
<section id="$it.slug$">
<h1>$it.title$</h1>
$if(it.quote)$<blockquote>$it.quote$</blockquote>$endif$
$it.content$
</section>
$endif$

$endfor$

$if(gallery)$
<ul class=gallery>
  <li><div><img src="/img/$gallery.image1$" /></div></li>
  <li><div><img src="/img/$gallery.image2$" /></div></li>
  <li><div><img src="/img/$gallery.image3$" /></div></li>
</ul>
$endif$


</div> <!-- end role=main -->

${ footer() }
