        <footer>
            <p>&copy; 2013$if(year)$–$year$$endif$ Ernestine Zink | Konzept &amp; Gestaltung: <a href=https://dergestalt.ch>Manuel Schmid, dergestalt.ch</a></p>
        </footer>

        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

    </body>
</html>

