${ header() }

<nav id="home"><ul>

  <li>
  <a href="/maltherapie-gestaltungstherapie">

    <h2>Mal- & Gestaltungstherapie</h2>

    <h3>Was verstehen wir unter Mal- und Gestaltungstherapie?</h3>
    <p>Mal- und Gestaltungstherapie ist eine wirksame Methode, bei der mit kreativen Mitteln der schöpferische Prozess angeregt und begleitet wird. So können körperliche, seelische und mentale Blockaden gelöst werden.</p>

    <h3>Für wen eignet sich Mal- und Gestaltungstherapie?</h3>
    <p>In meiner Praxis begleite ich Erwachsene und Jugendliche in unterschiedlichen Lebenssituationen auf der Suche nach verschütteten und neuen Kraftquellen.</p>

    <h3>Wie wirkt die Maltherapie?</h3>
    <p>Durch Malen und Gestalten wird die transformierende Kraft des Schöpferischen angeregt, einer der stärksten Heilfaktoren. Diese Kraft hilft uns in Kontakt zu kommen mit uns selber, mit unsern Bildern, die wir uns über uns und die Welt machen.</p>

  </a></li>

  <li>
  <a href="/atelier">

    <h2>Atelier Ernestine Zink</h2>

    <h3>Angebote</h3>
    <p>Einzeltherapie für Erwachsene und Kinder, Therapie für Paare, Lehrtherapie und Supervision, Themenzentrierte Gruppen</p>
<p><strong>Krankenkassen-Anerkennung über EMR EGK ASCA</strong></p>
    <h3>Meine Rolle als Therapeutin</h3>
    <p>Als ehemalige Lehrerin und als Psychologin verstehe ich mich als Gegenüber, das sich zur Verfügung stellt für einen Dialog, bei dem auch das Bild als „Drittes“ mit einbezogen wird.</p>
    <h3>Über mich</h3>
    <p>Maturität/Primarlehrerinnenseminar<br />
Dipl. Mal- und Gestaltungstherapeutin ED<br />
Diplomierte Psychologin IAP
Supervisorin OdA ARTECURA</p>
  </a></li>

  <li>
  <a href="/kontakt-anreise" itemscope itemtype="http://schema.org/Organization">

    <h2>Kontakt & Anreise</h2>

    <div itemprop="name" id="name">Ernestine Zink</div>
    <div itemprop="description">
      <div>Dipl. Mal- und Gestaltungstherapeutin ED</div>
      <div>Diplomierte Psychologin FH                             Supervisorin OdA ARTECURA</div>
    </div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <div itemprop="streetAddress">Seltisbergerstrasse 5</div>
      <div><span itemprop="addressCountry">CH</span>-<span itemprop="postalCode">4410</span> <span itemprop="addressLocality">Liestal</span></div>
    </div>
    <div id="phone">Tel. <span itemprop="telephone">+41 (0)61 921 33 34</span></div>
    <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint"><span itemprop="contactType">Mobile</span> <span itemprop="telephone">+41 (0)79 626 56 22</span></div>

  </a>
    <div><script type='text/javascript'>var a = new Array('k.ch','info@erne','stine-zin');document.write("<a href='mailto:"+a[1]+a[2]+a[0]+"' itemprop='email'>"+a[1]+a[2]+a[0]+"</a>");</script></div>
  </li>

</ul></nav>

<div class=container>



</div> <!-- end role=main -->

${ footer() }
