/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import "normalize";


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1.25em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: lighten(#F06,40);
    text-shadow: none;
}

::selection {
    background: lighten(#F06,40);
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

@mixin ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

@mixin hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  /*
  * Extends the .visuallyhidden class to allow the element to be focusable
  * when navigated to via the keyboard: h5bp.com/p
  */
  &.focusable:acive, &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

@mixin invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after{
    clear: both;
  }
  /*
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* Colors */
$primary:#1693A5;
$active:#F06;
$passive:#666;

/* Paddings */
$padding-small:5px;
$gutter:10px;

/* Font Stacks */
$fs-serif:"PT Serif", "Georgia", serif;
$fs-sans:"Open Sans", "Verdana", sans-serif;


html {
  font-family:$fs-serif;
}

#logo, header nav, nav#home, .container {
  padding:0 $gutter;
}

h1, h2, h3, blockquote, #logo, nav, footer, #homelink, .narrow, strong {
  font-family:$fs-sans;
  font-weight:normal;
}

a {
  color:$primary;
  &:hover {
    color:$active;
  }
}

em {
  font-style:normal;
  font-weight:700;
}

strong {
  font-size:7 / 8 * 1em;
  font-weight:bold;
}

h1 {
  font-size:2em;
  color:$primary;
  margin:1em 0 0.67em;
}

blockquote {
  color:$passive;
  font-style:italic;
  margin:1em 0;
}

.container {
  @include clearfix;
  margin:0 auto 0;
  max-width:1200px;
  position:relative;
}

nav {
  ul {
    padding:0;
  }
  a, a:visited {
    text-decoration:none;
    color:$passive;
  }
  a:hover {
    color:$active;
  }
  a:focus {
    outline:none;
  }
}

header {
  overflow:hidden;
  margin:0 auto;
  padding:0;
  position:relative;
  #logo {
    display:block;
    text-decoration:none;
    font-weight:normal;
    color:$passive;
    margin:0.67em auto;
    font-size:1.5em;
    max-width:1200px - 2 * $gutter;
    #title-name {
      font-weight:bold;
      color: $primary;
    }
    &:hover #title-name {
      color:$active;
    }
    #title-bar {
      display:none;
    }
    #title-therapy {
      display:block;
      font-size: 0.8em;
    }
  }
  img {
    height:100px;
    width:2000px;
    position:relative;
    left:50%;
    margin-left:-1000px;
  }
}

header nav, nav#home {
  font-size:1em;
  margin:0 auto;
  max-width:1200px - 2 * $gutter;
  ul {
    @include clearfix;
    margin:0;
    margin-left:-$gutter;
    margin-right:-$gutter;
    margin-top:0.5em;
  }
  li {
  }
  a {
    display:block;
    font-size:1em;
    margin:0 $gutter;
    padding:10px 0;
    overflow:hidden;
    &:active {
      outline:$active dotted 1px;
    }
  }
  a, h2 {
    margin-bottom: 2px;
    font-size:1em;
  }
}

header nav a, nav#home h2 {
  border-bottom:1px solid $primary;
  margin-bottom:2px;
  padding-bottom:10px;
}

header nav .active a, nav#home h2 {
  color:$primary;
  border-bottom:5px solid $primary;
  padding-bottom:8px;
  margin-bottom:0;
  font-weight:bold;
}

header nav a:hover, nav#home a:hover h2 {
  color:$active !important;
  border-bottom:5px solid $active !important;
  padding-bottom:8px;
  margin-bottom:0;
}

nav#home {
  a, a:hover {
    color:inherit;
  }
  a:hover {
    h3, p, div {
      color:#555;
    }
  }
  h2, h3 {
    font-size:1em;
    margin:0;
  }
  h2 {
    margin-top:0;
  }
  h2+h3, #name {
    margin-top:1em;
  }
  p {
    font-size:0.8em;
    display:none;
  }
  #phone {
    padding-top:0.8em;
  }
  /* e-mail link */
  div a {
    padding:0 0 0.8em;
    margin-bottom:12px;
    color:$primary;
    &:hover {
      color:$active;
      text-decoration:underline;
    }
  }
}

div#homelink {
  font-size:0.8em;
  max-width:1200px - 2 * $gutter;
  padding-top:1em;
  padding-bottom:5em;
  a {
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

#main nav {
  display:none;
  position:absolute;
  left:0;
  right:0;
  top:0;
  div {
    max-width:1200px;
    margin:0 auto;
    @include clearfix;
  }
  ul {
    max-width:33.333%;
    margin:0.8em 0 0;
    padding:0;
    float:left;
  }
  li {
    position:relative;
    z-index:100;
    padding:0.3em $gutter;
    &:before {
      content:none;
    }
    &:last-child {
      font-size:0.8em;
    }
  }
  a {
    background-color:rgba(255,255,255,0.7);
    &:hover {
      text-decoration:underline;
      background-color:rgba(255,255,255,0.9);
    }
  }
}

#main section {
  &:nth-child(2) {
    margin-top:-4em;
  }
  ul {
    list-style-type:none;
    padding-left:2em;
  }
  li {
    position:relative;
    &:before {
      content:"–";
      position:absolute;
      left:-1em;
    }
  }
}

.image {
  margin:0 -$gutter;
  position:relative;
  z-index:-2;
  img {
    width:100%;
    max-width:800px;
    display:block;
    padding-top:1em;
  }
}

.gallery {
  margin:(- 0.5 * $gutter) (- 1.5 * $gutter);
  list-style-type:none;
  padding:2em 0 0;
  clear:both;
  @include clearfix;
  li {
    width:33.333%;
    float:left;
  }
  div {
    margin:0.5 * $gutter;
  }
  img {
    width:100%;
    height:auto;
  }
}

#main .narrow {
  padding-bottom:1.5em;
  .narrow-item {
    position:relative;
    padding-bottom:0.5em;
  }
  .narrow-title {
    display:none;
    position:absolute;
    left:100%;
    width:100%;
    h2 {
      margin:0 $gutter;
      font-size:1em;
      color:$primary;
      font-style:italic;
    }
  }
}

footer {
  font-size: 0.7em;
  color:$passive;
  border-top:1px solid #999;
  margin:2em auto 1em;
  clear:both;
  max-width:1200px - 2 * $gutter;
  padding:0 $gutter;
  a {
    color:inherit;
    text-decoration:none;
    &:hover {
      color:$active;
      text-decoration:underline;
    }
  }
}


/* ==========================================================================
   Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   ========================================================================== */

@media only screen and (min-width: 45em) {

  #logo, header nav, nav#home, #homelink, footer {
    padding:0 $gutter;
  }

  .container {
    padding:0;
  }

  header nav li, nav#home li {
    float:left;
    width:33.333%;
    position:relative;
  }

  nav#home li>a {
    &:after {
      content:"";
      width:15px;
      height:15px;
      position:absolute;
      bottom:10px;
      right:10px;
      background-color:$primary;
    }
    &:hover:after {
      background-color:$active;
    }
  }

  nav#home a p, nav#home a:hover p {
    display:block;
  }

  div#homelink {
    padding-top:4em;
    padding-bottom:0;
  }

  #main nav {
    display:block;
  }

  #main section {
    width:66.666%;
    float:right;
    position:relative;
    &>* {
      padding:0 $gutter;
    }
  }

  #main .image {
    margin:0 33.333% 0 0;
    clear:right;
  }

  .gallery {
    margin:0;
    div {
      margin:$gutter;
    }
  }

  #main .narrow {
    .narrow-item {
      margin-right:50%;
    }
    .narrow-title {
      display:block;
    }
  }
}

@media only screen and (max-width: 30em) {

  body {
    font-size:1em;
  }

  #logo, header nav, nav#home, .container, footer {
    padding:0 $padding-small;
  }

  .gallery {
    margin:- 0.5 * $padding-small;
    div {
      margin:0.5 * $padding-small;
    }
  }
}

@media only screen and (min-width: 1600px) {

  header {
    width:1200px;
  }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {

  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  #title-name {
    color:$primary !important;
  }

  body {
    font-size:0.75em;
    font-size:0.875em;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  #logo:after,
  nav a[href]:after,
  #kontaktangaben a:after,
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 1.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  header {
    padding-bottom:.5em;
    border-bottom: 1px solid $primary;
    margin-bottom:.5em;
    img {
      display:none;
    }
  }

  nav, #homelink, .image, .gallery {
    display:none;
  }

  nav#home {
    display:block;
    font-size:18 / 14 * 1em;
    margin-top:2em;
  }

  header nav li, nav#home li {
    float:left;
    width:50%;
    p {
      display:block;
    }
    &:last-child {
      position:absolute;
      display:inline-block;
      bottom:0;
      right:0;
      font-size:0.8em;
      width:auto;
      h2 {
        display:none;
      }
    }
  }

  #main section:nth-child(2) {
    margin-top:0;
  }

  strong {
    font-size:1em;
  }

  h1 {
    margin-top:1em;
  }

  footer {
    display:none;
  }
}
